.btn-custom {
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
	border: none;
    width: 80%;
    padding:4px 8px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: #8ee4af;
    &:hover {
        background-color: #76c494;
    }
}
