.navbar-container {
	.navbar-brand{
		cursor: pointer;
	}
    .nav-link {
		margin-right: 4px;
        font-weight: 700px !important;
		border-radius:4px ;
        &:hover {
            background-color: #3cb076 !important;
            color: #fff !important;
        }
    }
    .active {
        background-color: #3cb076 !important;
        color: #fff !important;
    }
}
