.product-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.title-img {
    margin-top: 10px;
    text-align: right;
    font-weight: 400;
}
.product-item-container {
    border: 1px solid #b4b4b4;
    border-radius: 8px;
	background-color: #ffffff;
}
.product-desctiption {
    padding: 30px 28px;
}
.book-price {
    font-size: 16px;
    text-decoration: line-through;
    margin-right: 10px;
}
.discount-price {
    font-size: 20px;
}
.quatity-card {
    margin: 20px 0;
    padding: 0 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #b4b4b4;
    border-radius: 10px;
    span {
        cursor: pointer;
        font-size: 28px;
        border-radius: 15px;
    }
}
.add-to-card {
    border: #b4b4b4 1px solid;
}
.btn-add-to-card {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00d775, #00bd68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    width: 80%;
    z-index: 9;
    border: 0;
	&:hover{
		background: #00bd68;
	}
}

.customer-revie-container{
	span{
		text-decoration: underline;
		margin-left: 10px;
	}
	.sort-select-date{
		width: 300px;
		margin-right: 10px;
	}
}